
@{
    ViewBag.Title = "SaleLanding";
}

<h2>SaleLanding</h2>
<cc-my-dir></cc-my-dir>
<script src="~/Dependencies/build/vendor.bundle.js"></script>
<script src="~/Dependencies/build/app.bundle.js"></script>